BasedOnStyle: LLVM
IndentWidth: 2
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
BreakBeforeBraces: Attach
